/*============================================================================================
	Contact Area
==============================================================================================*/
.contact-us-bredcrumbs {
  padding-top: 16px;
  height: 480px;
  overflow: hidden;
}
.contact-us-bredcrumbs-menu {
  position: relative;
}
.contact-us-bredcrumbs-menu .product-bredcrumbs-menu-inner {
  position: absolute;
  left: 0;
  top: 0;
}
.contact-us-bredcrumbs-title {
  line-height: 130%;
  margin-bottom: 16px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.contact-us-bredcrumbs-text {
  margin: 0;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.contact-us-bredcrumbs-img img {
  width: 100%;
  height: 480px;
  object-fit: contain;
}

/* Contact Information Card */
.contact-info-section-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 700;
}
.contact-info-card {
  text-align: center;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 80px 24px;
  margin-top: 32px;
  transition: all 0.4s ease;
  height: 384px;
  overflow: hidden;
}
.contact-info-card:hover,
.contact-info-card.active {
  box-shadow: 0px 24px 72px 0px rgba(8, 32, 50, 0.12);
  border-top: 5px solid var(--primary-color);
  border-bottom: 5px solid var(--primary-color);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.contact-info-img img {
  width: 72px;
  height: 72px;
  object-fit: contain;
}
.contact-info-card-content {
  margin-top: 24px;
}
.contact-info-card-title {
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 16px;
}
.contact-info-card-address {
  margin: 0;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.contact-info-card-content ul li a {
  font-weight: 500;
  line-height: 160%;
}
.contact-info-card-content ul li a:hover {
  color: var(--primary-color);
}

/* Contact Form Area */
.contact-us-form {
  background: var(--white-color);
  box-shadow: 0px 24px 72px 0px rgba(8, 32, 50, 0.12);
  border-radius: 24px;
  padding: 40px;
}
.contact-us-form-top {
  text-align: center;
  margin-bottom: 38px;
}
.contact-us-form-top-title {
  margin-bottom: 14px;
  line-height: 120%;
}
.contact-us-form-inner .form-group {
  margin-bottom: 20px;
}
.contact-us-form-inner .form-group label {
  margin-bottom: 12px;
  opacity: 0.5;
  margin-left: 12px;
  font-size: 15px;
  font-weight: 600;
  line-height: 120%;
}
.contact-us-form-inner .form-group input,
.contact-us-form-inner .form-group textarea {
  width: 100%;
  height: 50px;
  background: #f3f5f9;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
  color: var(--title-color);
  border: 1px solid transparent;
  transition: all 0.4s ease;
}
.contact-us-form-inner .form-group input:focus,
.contact-us-form-inner .form-group textarea:focus {
  border: 1px solid var(--primary-color);
}
.contact-us-form-inner .form-group textarea {
  height: 150px;
}
.contact-us-form-button {
  text-align: center;
}
.contact-us-form-button .theme-btn {
  width: 100%;
}

.contact-us-form-map #gmap_canvas {
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
  height: 747px;
  width: 100%;
  border-radius: 24px;
}

@media only screen and (max-width: 767px) {
  .contact-us-bredcrumbs {
    height: auto;
    padding-bottom: 56px;
  }
  .contact-us-bredcrumbs-title {
    margin-bottom: 12px;
    font-size: 28px;
  }
  .contact-us-bredcrumbs-text {
    -webkit-line-clamp: 3;
  }
  .contact-us-bredcrumbs-img img {
    height: 280px;
  }
  .contact-info-section-title {
    margin-bottom: 0;
    font-size: 24px;
  }
  .contact-info-img img {
    width: 58px;
    height: 58px;
  }
  .contact-info-card-title {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .contact-info-card-content {
    margin-top: 14px;
  }
  .contact-info-card {
    padding: 32px 24px;
    height: 240px;
  }
  .contact-us-form-top-title {
    font-size: 24px;
  }
  .contact-us-form {
    padding: 32px 24px;
  }
  .contact-us-form-inner .form-group input,
  .contact-us-form-inner .form-group textarea {
    height: 44px;
  }
  .contact-us-form-inner .form-group label {
    font-size: 14px;
  }
  .contact-us-form-inner .form-group textarea {
    height: 120px;
  }

  .contact-us-form-map #gmap_canvas {
    height: 320px;
  }
  .contact-us-bredcrumbs-content {
    text-align: center;
    margin-top: 16px;
  }
  .contact-us-bredcrumbs-img {
    margin-top: 54px;
  }
  .contact-us-form-map {
    margin-top: 32px;
  }
}

/*============================================================================================
	End Contact Area
==============================================================================================*/
