/*============================================================================================
	Get Internet Process Area
==============================================================================================*/
.get-internet-process-area {
  background: #f7faff;
  padding: 88px 0px 120px;
}
.process-card-inner {
  margin-top: 72px;
}
.internet-process-card {
  margin-top: 32px;
  text-align: center;
  position: relative;
  padding: 0px 46px;
}
.internet-process-card.arrow-icon::before {
  position: absolute;
  content: "";
  width: 125px;
  height: 31px;
  background-image: url("../images/arrow.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  right: -80px;
  top: 0;
}
.internet-process-card-icon img {
  width: 72px;
  height: 72px;
  object-fit: contain;
}
.internet-process-card-content {
  margin-top: 16px;
}
.internet-process-card-title {
  font-weight: 600;
  line-height: 140%;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--secondary-color);
}
.internet-process-card-text {
  margin: 0;
  margin-top: 16px;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media only screen and (max-width: 767px) {
  .get-internet-process-area {
    padding: 56px 0px 56px;
  }
  .internet-process-card.arrow-icon::before {
    display: none;
  }
  .internet-process-card-icon img {
    width: 58px;
    height: 58px;
  }
  .internet-process-card-title {
    font-size: 18px;
  }
  .internet-process-card {
    padding: 0px;
  }
  .row.process-card-inner {
    margin-top: 0;
  }
}

/*============================================================================================
	End Get Internet Process Area
==============================================================================================*/
